<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhs.lawmind.mapper.LawVectorTaskMapper">
    <select id="selectAll" resultType="com.lhs.lawmind.entity.LawVectorTask">
        select * from law_vector_task
    </select>
    <select id="selectByKnowledgeId" resultType="com.lhs.lawmind.entity.LawVectorTask">
        select * from law_vector_task where knowledge_id = #{knowledgeId}
    </select>
    <select id="selectById" resultType="com.lhs.lawmind.entity.LawVectorTask">
        select * from law_vector_task where id = #{id}
    </select>
    <insert id="insert" parameterType="com.lhs.lawmind.entity.LawVectorTask">
        insert into law_vector_task (knowledge_id, vector_status, redis_search_sync, error_msg, create_time)
        values (#{knowledgeId}, #{vectorStatus}, #{redisSearchSync}, #{errorMsg}, now())
    </insert>
    <update id="update" parameterType="com.lhs.lawmind.entity.LawVectorTask">
        update law_vector_task
        set knowledge_id = #{knowledgeId}, vector_status = #{vectorStatus}, redis_search_sync = #{redisSearchSync}, error_msg = #{errorMsg}, retry_count = #{retryCount}
        where id = #{id}
    </update>
    <delete id="delete" parameterType="java.lang.Long">
        delete from law_vector_task where id = #{id}
    </delete>
</mapper>