<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhs.lawmind.mapper.RagMetricsDailyMapper">

    <insert id="insert" parameterType="com.lhs.lawmind.entity.RagMetricsDaily" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO rag_metrics_daily (
            metric_date, total_requests, cache_hits, similar_hits, knowledge_hits,
            llm_direct_count, non_legal_count, avg_latency_ms, p50_latency_ms, p95_latency_ms,
            total_likes, total_dislikes, avg_top_score, llm_fallback_rate, hyde_count,
            feedback_inaccurate, feedback_wrong_citation, feedback_irrelevant,
            feedback_too_vague, feedback_other
        ) VALUES (
            #{metricDate}, #{totalRequests}, #{cacheHits}, #{similarHits}, #{knowledgeHits},
            #{llmDirectCount}, #{nonLegalCount}, #{avgLatencyMs}, #{p50LatencyMs}, #{p95LatencyMs},
            #{totalLikes}, #{totalDislikes}, #{avgTopScore}, #{llmFallbackRate}, #{hydeCount},
            #{feedbackInaccurate}, #{feedbackWrongCitation}, #{feedbackIrrelevant},
            #{feedbackTooVague}, #{feedbackOther}
        )
    </insert>

    <insert id="upsert" parameterType="com.lhs.lawmind.entity.RagMetricsDaily">
        INSERT INTO rag_metrics_daily (
            metric_date, total_requests, cache_hits, similar_hits, knowledge_hits,
            llm_direct_count, non_legal_count, avg_latency_ms, p50_latency_ms, p95_latency_ms,
            total_likes, total_dislikes, avg_top_score, llm_fallback_rate, hyde_count,
            feedback_inaccurate, feedback_wrong_citation, feedback_irrelevant,
            feedback_too_vague, feedback_other
        ) VALUES (
            #{metricDate}, #{totalRequests}, #{cacheHits}, #{similarHits}, #{knowledgeHits},
            #{llmDirectCount}, #{nonLegalCount}, #{avgLatencyMs}, #{p50LatencyMs}, #{p95LatencyMs},
            #{totalLikes}, #{totalDislikes}, #{avgTopScore}, #{llmFallbackRate}, #{hydeCount},
            #{feedbackInaccurate}, #{feedbackWrongCitation}, #{feedbackIrrelevant},
            #{feedbackTooVague}, #{feedbackOther}
        ) ON DUPLICATE KEY UPDATE
            total_requests = VALUES(total_requests),
            cache_hits = VALUES(cache_hits),
            similar_hits = VALUES(similar_hits),
            knowledge_hits = VALUES(knowledge_hits),
            llm_direct_count = VALUES(llm_direct_count),
            non_legal_count = VALUES(non_legal_count),
            avg_latency_ms = VALUES(avg_latency_ms),
            p50_latency_ms = VALUES(p50_latency_ms),
            p95_latency_ms = VALUES(p95_latency_ms),
            total_likes = VALUES(total_likes),
            total_dislikes = VALUES(total_dislikes),
            avg_top_score = VALUES(avg_top_score),
            llm_fallback_rate = VALUES(llm_fallback_rate),
            hyde_count = VALUES(hyde_count),
            feedback_inaccurate = VALUES(feedback_inaccurate),
            feedback_wrong_citation = VALUES(feedback_wrong_citation),
            feedback_irrelevant = VALUES(feedback_irrelevant),
            feedback_too_vague = VALUES(feedback_too_vague),
            feedback_other = VALUES(feedback_other),
            updated_at = CURRENT_TIMESTAMP
    </insert>

    <select id="selectByDate" resultType="com.lhs.lawmind.entity.RagMetricsDaily">
        SELECT * FROM rag_metrics_daily WHERE metric_date = #{metricDate}
    </select>

    <select id="selectTrend" resultType="com.lhs.lawmind.entity.RagMetricsDaily">
        SELECT * FROM rag_metrics_daily
        WHERE metric_date >= DATE_SUB(CURDATE(), INTERVAL #{days} DAY)
        ORDER BY metric_date ASC
    </select>

</mapper>
